* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    gap: 45px;
    background-color: #111;
    overflow: hidden;
}

:root {
    --clr1: #FB0F0F;
    --clr2: #FFF115;
}

label {
    position: relative;
    width: 150px;
    height: 150px;
}

label input {
     appearance: none; 
}

label .face {
    position: absolute;
    inset: 0;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    mix-blend-mode: lighten;
    transition: 0.5s;
}

label input:checked ~ .face{
    background-color: var(--clr1);
    z-index: 1000;
    filter: drop-shadow(0 0 50px var(--clr1))
        drop-shadow(0 0 100px var(--clr1))
        drop-shadow(0 0 150px var(--clr1));
}

label:nth-child(even) input:checked ~ .face{
    background-color: var(--clr2);
        filter: drop-shadow(0 0 50px var(--clr2))
        drop-shadow(0 0 100px var(--clr2))
        drop-shadow(0 0 150px var(--clr2));
}

label .face::before {
    content: '';
    position: absolute;
    top: 60px;
    left: 45px;
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%;
    box-shadow: 45px 0 0 #000;
    opacity: 0.5;
}

label .face::after {
    content: '';
    position: absolute;
    bottom: 45px;
    width: 40px;
    height: 8px;
    background: #000;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    opacity: 0.5;
    transition: 0.5s;
}

label input:checked ~ .face::after {
    width: 40px;
    height: 20px;
    border-radius: 0px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius: 20px;
    transform: translateX(-50%) translateY(10px);
}